certifi==2023.7.22
chardet==3.0.4
click==8.0.0a1
dateutils==0.6.12
folderpodgen==0.2
future==0.18.3
idna==2.10
lxml==4.9.1
mutagen==1.45.1
podgen==1.1.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.31.0
six==1.15.0
tinytag==1.5.0
urllib3==1.26.17
