appdirs==1.4.3
click==6.7
dateutils==0.6.6
future==0.16.0
lxml==3.7.3
mutagen==1.37
packaging==16.8
podgen==1.0.0b5
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests>=2.20.0
six==1.10.0
tinytag==0.17.0
